h1 {
    color: rgb(153, 0, 0);
    text-align:center;
    
}
h2 {
    color:rgb(7, 63, 42);
    text-align:center;
}
body {
    background-image: url("galaxy.jpg");
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }